@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .maxContainer {
    @apply mx-auto max-w-[1200px];
  }
  .flexBetween {
    @apply flex justify-between items-center;
  }
  .flexCenter {
    @apply flex justify-center items-center;
  }
  .pSm {
    @apply px-3 md:px-12;
  }
  .textBg,
  .bgText {
    @apply bg-primary text-white;
  }
  .deadCenter {
    @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
  }
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #03045e;
  border-radius: 50rem;
}
::-webkit-scrollbar-thumb:hover {
  background: #03045e;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.fadeIn {
  animation: anim_fade_in 250ms ease-in;
}

@keyframes anim_fade_in {
  from {
    opacity: 0.5;
    margin-left: 2rem;
  }
}
